.quote {
    font-style: italic;
    font-size: small;
}

.quoteAttr {
    text-align: right;
    font-style: normal;
    font-weight: 500;
}

#reviewWrap {
    background-color: rgb(90, 102, 63) !important;
}


#reviewWrap * {
    color: white
}