legend {
    font-size: 1.5em;
    font-weight: 800;
    background-color: #e8d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0.4em;
    margin-bottom: 1em;
    color: rgb(27, 27, 27);
}

fieldset {
    background-color: rgb(91, 91, 91);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    border: transparent;
    padding: 1em;
}

label, label:active, label:focus, label::selection {
    font-family: 'Fira Sans', sans-serif;
    color: white !important;
    cursor: pointer !important;
    font-size: 1.15em !important;
    margin-bottom: 0.5em !important;
}

fieldset {
    color: whitesmoke
}

input, select, textarea {
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 1.15em !important;
    background-color: #f3f3f3 !important;
    border: 3px solid white !important;
    margin-bottom: 0.5em !important;
    font-family: 'Fira Sans', sans-serif;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff !important;
    border: 3px solid #0091ff !important;
}

input[type="checkbox"] + label:hover {
    text-decoration: underline
}

input::placeholder, textarea::placeholder {
    color: #5e5e5e !important;
    font-style: italic;
}

.ui.checkbox input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 0.6em;
}

.ui.checkbox label {
    font-size: 1.25em;
    margin-bottom: 0.6em;
}

@media only screen and (max-width: 767px) {
    div.column {
        padding: 0em 1em 0 1em !important;
        margin: 0 !important
    }
}