legend {
    font-size: 1.5em;
    font-weight: 800;
    background-color: rgb(66, 89, 76);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0.4em;
    margin-bottom: 1em;
    color: white;
}

fieldset {
    background-color: rgb(24, 74, 58);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    border: transparent;
    padding: 1em;
}

label, label:active, label:focus, label::selection {
    color: white !important;
    cursor: pointer !important;
    font-size: 1.15em !important;
}

fieldset * {
    color: whitesmoke
}

input, select {
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 1.15em !important;
}

input::placeholder {
    color: #5e5e5e !important;
    font-style: italic;
}