legend {
    font-size: 1.5em;
    font-weight: 600 !important;
    background-color: rgb(245, 247, 242);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 1em;
    color: rgb(27, 27, 27) !important;
}

fieldset {
    background-color: rgb(245, 247, 242);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2em;
    border: transparent;
    color: whitesmoke;
    padding: 1em 2em 1em 2em;
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.04);
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.04);
}

fieldset.dark {
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.2);
}

label, label:active, label:focus, label::selection {
    font-family: 'Rubik', sans-serif;
    color: rgb(58, 58, 58) !important;
    cursor: pointer !important;
    font-size: 1.15em !important;
    margin-bottom: 0.5em !important;
    font-weight: 500 !important;
}

input, select, textarea {
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 1.3em !important;
    background-color: #fcfdfb !important;
    /* border: 3px solid rgb(235, 235, 235) !important; */
    margin-bottom: 0.5em !important;
    font-family: 'Rubik', sans-serif;
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.03) !important;
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.03) !important;
}

input:last-child {
    margin-bottom: 0 !important;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff !important;
    /* border: 3px solid white !important; */
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.00) !important;
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.00) !important;
}

input[type="checkbox"]+label:hover {
    text-decoration: underline
}

input::placeholder, textarea::placeholder {
    color: #929292 !important;
    font-style: italic;
    font-weight: 200;
}

.ui.checkbox input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 0.6em;
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.03) !important;
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.03) !important;
}

.ui.checkbox label {
    font-size: 1.25em;
    margin-bottom: 0.6em;
}

@media only screen and (max-width: 767px) {
    div.column {
        padding: 0em 1em 0 1em !important;
        margin: 0 !important
    }

    button.pop {
        margin: 0.5em !important;
    }

    legend {
        font-size: 1.15em !important;
    }

    label, label:active, label:focus, label::selection {
        font-size: 1em !important;
    }

    input, select, textarea {
        font-size: 1em !important;
    }

}