@import url('./header.css');
@import url('./checklist.css');
@import url('./tabs.css');
@import url('./forms.css');

@font-face {
    font-family: 'CMU Serif';
    src: url(/fonts/cmunrm.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CMU Serif';
    src: url(/fonts/cmunbx.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CMU Serif';
    src: url(/fonts/cmunti.woff);
    font-weight: normal;
    font-style: italic;
}

* {
    /* font-family: 'CMU Serif', serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    line-height: 1em;
}


/* Cool fun wacky font */
@font-face {
    font-family: 'cowboy';
    src: url(/fonts/gomarice_nandaka_western.ttf);
    font-weight: normal;
    font-style: normal;
}

.cowboy {
    font-family: 'cowboy', serif !important;
}

html, body, #root {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dbdcde;
    background-image: url(/images/doors_whitebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    color: rgb(34, 34, 34);
    font-size: 1.2em;
    line-height: 140%;
}

/* Banners and other images to preload */
#preload {
    background-image:
        url(/images/movingAction.JPG),
        url(/images/fadedMasthead.jpg);
    opacity: 0.0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
}

a {
    color: rgb(43, 58, 192)
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(43, 58, 192)
}



a:focus {
    border: 1px solid black !important;
}

#root {
    position: relative;
    padding-bottom: 200px;
    min-height: 100% !important;
}

#footer {
    height: 135px;
    width: 100%;
    margin: 0;
    padding: 2em 0 0 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#footerInner {
    background-color: rgb(250, 252, 248);
    padding: 1em;
    max-width: calc(1300px - 4em);
    margin: auto;
    bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: rgb(37, 37, 37);
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    -webkit-box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.2);
    color: rgb(29, 29, 29)
}

.rightUnlessStacked {
    text-align: right;
}

h1 {
    color: rgb(37, 37, 37);
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    font-weight: 700;
}

li {
    line-height: 1.4em;
}

.bi {
    position: relative;
    top: 2px;
}

.container {
    width: 100%;
    animation: fadeInAnimation 0.35s;
    transition-timing-function: cubic-bezier(0, 1, 1, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.3);
}

.container.noshadow { 
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

@keyframes fadeInAnimation {
    0% {
        filter: contrast(1.6);
    }

    100% {
        filter: contrast(1);
    }
}

.container a:hover {
    text-decoration: underline;
}

.container img, iframe {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-width: 100%;
    -webkit-box-shadow: 12px 12px 0px 0px rgba(35, 37, 28, 0.78);
    box-shadow: 12px 12px 0px 0px rgba(35, 37, 28, 0.78);
    margin-bottom: 1em;
    border: 1px solid rgba(111, 114, 102, 0.78);
}

.container button.pop {
    -webkit-box-shadow: 6px 6px 4px 0px rgba(35, 37, 28, 0.78) !important;
    box-shadow: 6px 6px 4px 0px rgba(35, 37, 28, 0.4) !important;
    border: 1px solid rgb(207, 207, 207) !important;
}

.container button.pop:hover {
    border: 1px solid rgb(243, 243, 243) !important;
}

.container button.pop:active {
    -webkit-box-shadow: 2px 2px 4px 0px rgba(35, 37, 28, 0.78) !important;
    box-shadow: 2px 2px 4px 0px rgba(35, 37, 28, 0.4) !important;
    border: 1px solid rgb(155, 155, 155) !important;
    position: relative;
    top: 2px;
    left: 2px
}

.field button.pop {
    margin-bottom: 1em !important;
}

.container button.pop a {
    color: white;
}

.container button.pop:active a {
    color: rgb(228, 228, 228);
}

.container button.std {
    -webkit-box-shadow: 4px 4px 4px 0px rgba(35, 37, 28, 0.2) !important;
    box-shadow: 4px 4px 4px 0px rgba(35, 37, 28, 0.2) !important;
    border: 1px solid rgb(207, 207, 207) !important;
    font-weight: 500 !important;
}


.container button.std:hover {
    border: 1px solid rgb(124, 124, 124) !important;
}

.container button.std:active {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(35, 37, 28, 0.1) !important;
    box-shadow: 2px 2px 2px 0px rgba(35, 37, 28, 0.1) !important;
    border: 1px solid rgb(155, 155, 155) !important;
    position: relative;
    top: 3px;
    left: 3px
}

.field button.std {
    margin-bottom: 1em !important;
}

.container button.std a {
    color: white;
}

.container button.std:active a {
    color: rgb(228, 228, 228);
}

.container p {
    font-size: 1.15em;
    line-height: 1.35em;
}

.container.picture h1 {
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 4em;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.49);
}

.container.picture p {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #1d1d1d;
    padding: 5px;
    font-size: 1.5em;
    opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: alpha(opacity=90);
}

.container.dark {
    background-color: #202020;
    color: #f5f5f5;
}

.lightText {
    color: #f5f5f5;
}

.container.dark h1, .lightText h1 {
    color: #ffffff;
}

.container.dark *, .lightText * {
    color: #f5f5f5;
}

.container.dark strong, .lightText strong {
    color: white
}

.container.dark a, .lightText a {
    color: rgb(136, 172, 248)
}

.container.dark a:visited, .lightText a:visited {
    color: rgb(136, 172, 248)
}

.page {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 2em;
    padding: 1em;
    max-width: 1300px;
    margin: 0 auto 0 auto;
    padding: 2em;
}

.page:not(.lightText) {
    color: #2b2b2b;
}

pre {
    font-family: monospace !important;
    font-size: 0.75em
}


@media only screen and (max-width: 1300px) {
    h1 {
        font-size: 2.5em;
    }

    .container.picture h1 {
        font-size: 3em;
    }
}

/* COLLAPSE */
@media only screen and (max-width: 767px) {
    body {
        background-image: url(/images/mobilewall.jpg);
        font-size: 90;
    }

    h1 {
        /* text-align: center !important; */
        font-size: 2em;
    }

    .rightUnlessStacked {
        text-align: left;
    }

    .onlyOnLargeScreens {
        display: none !important;
        font-weight: 900;
    }

    ui.stackable.grid>.row>.wide.column,
    .ui.stackable.grid>.wide.column,
    .ui.stackable.grid>.column.grid>.column,
    .ui.stackable.grid>.column.row>.column,
    .ui.stackable.grid>.row>.column,
    .ui.stackable.grid>.column:not(.row),
    .ui.grid>.stackable.stackable.row>.column {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}