.tabular .item {
    font-size: 1.25em;
    border: 1px solid transparent
}

.tabular .item:hover {
    cursor: pointer;
    border: 1px solid #616161 !important;
    border-bottom: 1px solid transparent !important
}

.tabular .item.active {
    background-color: #eceee2 !important;
}

.tabular .item:focus {
    border: 1px solid #eceee2 !important;
    border-bottom: 1px solid transparent !important
}

.tab.segment {
    background-color: #fbfaf6;
    color: rgb(26, 26, 26)
}

.tab.segment.active,.tab.segment.active p {
    font-size: 1.10em;
    line-height: 1.25em;
}

@media only screen and (max-width: 767px) {
    .tabular .item {
        color: rgb(55, 74, 136) !important;
        text-decoration: underline !important;
    }

    .tabular .item.active {
        color: black !important;
        text-decoration: none !important;
    }

    .tabular .item:hover {
        cursor: pointer;
        border: none !important
    }
    
    .tabular .item:focus {
        border: none !important
    }
}