.tabular .item {
    font-size: 1.25em;
    border: 1px solid transparent
}

.tabular .item:hover {
    cursor: pointer;
    border: 1px solid #616161 !important;
    border-bottom: 1px solid transparent !important
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05) !important;
}

.tabular .item.active {
    background-color: #eceee2 !important;
    -webkit-box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.05) !important;
}

.tabular .item:focus {
    border-bottom: 1px solid transparent !important
}

.tab.segment {
    background-color: #fbfaf6;
    color: rgb(26, 26, 26) -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tab.segment.active, .tab.segment.active p {
    font-size: 1.10em;
    line-height: 1.25em;
}

.tab.segment.active {
    -webkit-box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.05);
}

/* CONTENT COLLAPSE BREAKPOINT */
@media only screen and (max-width: 767px) {
    .tabular .item {
        color: rgb(55, 74, 136) !important;
        background-color: #eceee2 !important;
        text-decoration: none !important;
        border: none !important
    }

    .tabular .item.active {
        color: black !important;
        background-color: #e9e5d9 !important;
    }

    .tabular .item:hover {
        cursor: pointer;
        border: none !important;
        text-decoration: underline !important;
    }

    .tabular .item:focus {
        border: none !important
    }
}