ul.checklist {
    list-style-type: none;
    padding: 0;
}

ul.checklist li {
    padding: 0 0 0 25px;
    position: relative;
    margin-bottom: 5px;
}

ul.checklist li:before {
    position: absolute;
    left: 5px;
    content: "\25A1";
    color: rgb(0, 0, 0);
}

.tabular .item:hover {
    cursor: pointer;
}

.tabular .item.active {
    font-size: 1.5em;
    background-color: #d6eae0 !important;
}

.tab.segment {
    background-color: #bfdace;
    color: rgb(26, 26, 26)
}

.tab.segment.active {
    font-size: 1em;
}

@media only screen and (max-width: 1300px) {
    .tabular .item {
        color: rgb(59, 89, 124) !important;
        text-decoration: underline !important;
    }

    .tabular .item.active {
        color: black !important;
        text-decoration: none !important;
    }
}