#headwrap {
    background: url('http://localhost:3000/images/russBg.png') bottom left 25px no-repeat;
    background-size: 155px;
}

#navigation {
    background-color: #fafcf8;
    margin: 1em auto 2em auto;
}

#navWrap {
    margin: 0 auto 0 auto;
    max-width: 1300px;
    padding: 0 2em 0 2em
}

#navigation .link {
    border: 1px solid transparent;
    /* color: #464040; */
    font-weight: 500;
    font-size: 1.2em;
}

#navigation .link:hover {
    background-color: #ffffff;
    color: black;
    text-decoration: underline;
}

#navigation .link:focus {
    border: 1px solid black !important;
}

#navigation .right a.link.item:hover {
    background-color: #2185d0;
    color: white;
}

#navigation .header.item {
    padding: 0.5em 1em 0.5em 1em;
}

#navigation .header:hover {
    background-size: 24%;
    background-color: #ffffff;
    color: rgb(0, 0, 0) !important;
    background-position: 6px 7px;
    /* text-decoration: none */
}

#localmuscle {
    color: rgb(51, 47, 47);
    font-size: 1.15em;
    font-weight: 700;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
}

.header:hover #localmuscle {
    color: black !important;
    background-color: #ffffff;
}

.dropdown.item.active.visible::before {
    display: none;
}

@media only screen and (max-width: 1750px) {
    #headwrap {
        background-position: bottom left 15px;
        background-size: 140px;
    }
}

@media only screen and (max-width: 1615px) {
    #headwrap {
        background-position: bottom left 12px;
        background-size: 120px;

    }
}

@media only screen and (max-width: 1550px) {
    #headwrap {
        background: none
    }

    #navigation .header {
        background: url('http://localhost:3000/images/musclelogo.png') 5px 5px no-repeat;
        background-size: 20%;
    }

    #navigation .header.item {
        padding: 0.5em 1em 0.5em 5em;
    }
}

@media only screen and (max-width: 1300px) {
    #navigation .link {
        font-weight: 500;
        font-size: 1em;
        color: #3f3f3f !important
    }

    #navigation .header.item {
        padding: 0.5em 1em 0.5em 5em;
    }
}

@media only screen and (max-width: 880px) {
    #navigation {
        font-size: 1.1em;

    }

    #navigation .header {
        background-size: 4em;
    }

    #navigation .header:hover {
        background-size: 5em;
    }

    #navigation .header.item {
        padding: 0.5em 1em 0.5em 6em;
    }
}

@media only screen and (max-width: 600px) {

    #navigation {
        margin: 1em auto 0 auto
    }

    #navigation .header {
        background: url(http://localhost:3000/images/russBg_morefaded.png) right top -10px no-repeat;
        background-size: 50%;
    }

    #localmuscle, #localmuscle:hover {
        font-family: 'cowboy', serif !important;
        font-size: 2em;
        text-align: left;
        width: 100%;
        background: none !important;
        margin: 0;
    }

    #localmuscle * {
        font-size: 70% !important;
    }

    #localmuscle .menu {
        border: 2px solid white
    }

    #navigation .header:hover {
        background: url(http://localhost:3000/images/russBg_morefaded.png) right top -10px no-repeat;
        background-size: 60%;
    }

    #navigation .header.item {
        padding: 0.5em;
        width: 100%;
        text-align: center;
    }

    .menu.transition * {
        background-color:#fcfcfb !important;
    }
}