@import url('./navigation.css');
@import url('./page.css');
@import url('./checklist.css');
@import url('./tabs.css');

* {
    font-family: 'Rubik', sans-serif !important;
}

/* Cool fun wacky font */
@font-face {
    font-family: 'cowboy';
    src: url('http://localhost:3000/fonts/gomarice_nandaka_western.ttf');
    font-weight: normal;
    font-style: normal;
}
.cowboy {
    font-family: 'cowboy', serif !important;
}

body {
    background-color: #f8f8f8;
    color: #d4d4d4;
    font-size: 1.2em;
    line-height: 140%;
}