#navigation {
    /* -webkit-box-shadow: 5px 6px 10px 8px rgba(0, 0, 0, 0.03);
    box-shadow: 5px 6px 10px 8px rgba(0, 0, 0, 0.03); */
    background-color: #ffffff;
    margin: 1em auto 2em auto;
    border: 1px solid #bb8c46;
}

#navWrap {
    margin: 0 auto 0 auto;
    max-width: 1600px;
    padding: 0 2em 0 2em
}

#navigation .link {
    font-weight: 500;
    font-size: 1.2em;
    color: #3f3f3f !important
}

#navigation .link:hover {
    background-color: #bb8c46;
    color: white !important
}

#navigation .header {
    background: url('http://localhost:3000/images/musclelogo.png') left top no-repeat;
    background-size: 24%;
    font-weight: 900;
    font-size: 1.75em;
}

#navigation .header.item {
    padding: 0.5em 1em 0.5em 4em;
}

#navigation .header:hover {
    background-size: 48%;
    background-color: white;
    color: white !important;
    background-position: left 3px;
}

#navigation .header #localmuscle {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
}

#navigation .header:hover #localmuscle {
    color: black !important;
    background-color: #e2b168;
}

#navigation .right a.link.item:hover {
    background-color: #417acf;
}

@media only screen and (max-width: 1300px) {
    #navigation .link {
        font-weight: 500;
        font-size: 1em;
        color: #3f3f3f !important
    }

    #navigation .header {
        background-size: 28%;
        font-size: 1.25em;
        font-weight: 700;
    }
}

@media only screen and (max-width: 900px) {
    #navigation .link {
        font-weight: 500;
        font-size: 1em;
        color: #3f3f3f !important
    }

    #navigation .header {
        background-size: 28%;
        font-size: 1.25em;
        font-weight: 700;
    }
}